h1 {
    color: rgb(165, 42, 52);
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
}

.weather {
    font-family: arial, sans-serif;
    border: 1px solid #25a96e;
    padding: 16px;
    border-radius: 10px;
    color: rgb(59, 34, 148);
  }
  .weather .temperature {
    font-size: 44px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0px;
    color: rgb(43, 226, 113);

  }
  .Weather .unit {
    color: rgb(182, 22, 22);
    font-size: 40px;
font-weight: bold;
    position: relative;
    line-height: 1;
    top: -34px;
  }
